<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    {% include '../components/header.html' %}
    {% include '../components/nav.html' %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% include '../components/footer.html' %}
    <script src="../scripts/main.js"></script>
</body>
</html>